*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ====== Transition ====== */
  --tran-03: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.3s ease;
  --tran-05: all 0.3s ease;
  --tran-06: all 0.8s ease;

  /* ====== Colors ====== */
  --color-primary: #6f6efd;
  --color-secondary: #121212;
  --color-claro: #f6f6f6;
  --color-green: #5edb5b;
}

html {
  font-size: 62.5%;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  text-rendering: optimizeSpeed;
  min-height: 100vh;
  transition: var(--tran-05);
}

button {
  cursor: pointer;
}

.wrapper {
  border: 3px solid blue;
}
